In [1]:
import pandas as pd

In [5]:
data = pd.read_excel('IMF.xlsx')

In [6]:
data.to_csv('IMF.csv')

In [9]:
df = data
df

,Economy,Year,ISO-3 code,Number of commercial banks,Number of credit unions and credit cooperatives,Number of deposit-taking microfinance institutions,Number of other deposit takers,Number of non-deposit taking microfinance institutions,Number of insurance corporations,Branches of commercial banks,...,"Number of registered mobile money accounts per 1,000 adults","Number of active mobile money accounts per 1,000 adults",Outstanding balances on active mobile money accounts (% of GDP),"Number of mobile money transactions (during the reference year) per 1,000 adults",Value of mobile money transactions (during the reference year) (% of GDP),"Number of credit cards per 1,000 adults","Number of debit cards per 1,000 adults","No of mobile and internet banking transac (during reference yr) per 1,000 adults",Value of mobile and internet banking transac (during reference yr) (% of GDP),"Number of life insurance policies per 1,000 adults"
0,"Afghanistan, Islamic Republic of",2004,AFG,10.0,NaN,NaN,NaN,NaN,NaN,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Afghanistan, Islamic Republic of",2005,AFG,12.0,NaN,NaN,NaN,NaN,NaN,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Afghanistan, Islamic Republic of",2006,AFG,12.0,NaN,NaN,NaN,NaN,1.0,115.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Afghanistan, Islamic Republic of",2007,AFG,15.0,NaN,NaN,NaN,NaN,4.0,159.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Afghanistan, Islamic Republic of",2008,AFG,16.0,NaN,NaN,NaN,NaN,3.0,196.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Afghanistan, Islamic Republic of",2009,AFG,17.0,NaN,NaN,NaN,NaN,2.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Afghanistan, Islamic Republic of",2010,AFG,17.0,NaN,NaN,NaN,NaN,2.0,344.0,...,NaN,NaN,NaN,NaN,NaN,0.063668,2.419761,NaN,NaN,NaN
7,"Afghanistan, Islamic Republic of",2011,AFG,17.0,NaN,NaN,NaN,NaN,3.0,332.0,...,NaN,NaN,NaN,NaN,NaN,0.021061,3.999661,NaN,NaN,NaN
8,"Afghanistan, Islamic Republic of",2012,AFG,16.0,NaN,NaN,NaN,NaN,4.0,336.0,...,80.688970,0.613069,NaN,2.311767,0.030403,0.018618,3.952683,NaN,NaN,NaN
9,"Afghanistan, Islamic Republic of",2013,AFG,16.0,NaN,NaN,NaN,NaN,4.0,374.0,...,80.130690,0.407472,NaN,26.786950,0.309868,0.049384,5.877169,NaN,NaN,NaN
10,"Afghanistan, Islamic Republic of",2014,AFG,15.0,NaN,NaN,NaN,NaN,4.0,403.0,...,77.828760,0.784915,NaN,29.955530,0.318541,0.041078,7.533287,NaN,NaN,NaN
11,"Afghanistan, Islamic Republic of",2015,AFG,15.0,NaN,NaN,NaN,NaN,4.0,395.0,...,11.783460,1.085573,0.016393,51.920480,0.340101,0.052492,9.419734,NaN,NaN,NaN
12,"Afghanistan, Islamic Republic of",2016,AFG,15.0,NaN,NaN,NaN,NaN,5.0,401.0,...,20.908460,2.106497,0.033121,103.655700,0.698128,0.056181,11.707864,NaN,NaN,NaN
13,"Afghanistan, Islamic Republic of",2017,AFG,15.0,NaN,NaN,NaN,NaN,6.0,401.0,...,25.899580,2.224398,0.051428,166.814500,1.045507,0.073592,16.275293,NaN,NaN,NaN
14,"Afghanistan, Islamic Republic of",2018,AFG,14.0,NaN,NaN,NaN,NaN,NaN,462.0,...,50.147800,2.387847,0.039909,435.506000,1.170784,0.094180,24.314713,3.446903,8.940510,NaN
15,Albania,2004,ALB,16.0,132.0,NaN,NaN,NaN,8.0,197.0,...,NaN,NaN,NaN,NaN,NaN,0.366174,15.123093,NaN,NaN,NaN
16,Albania,2005,ALB,17.0,133.0,NaN,NaN,NaN,9.0,242.0,...,NaN,NaN,NaN,NaN,NaN,1.212961,98.355096,NaN,NaN,NaN
17,Albania,2006,ALB,17.0,127.0,NaN,NaN,NaN,9.0,291.0,...,NaN,NaN,NaN,NaN,NaN,4.377878,102.791268,NaN,NaN,NaN
18,Albania,2007,ALB,17.0,132.0,NaN,NaN,NaN,9.0,399.0,...,NaN,NaN,NaN,NaN,NaN,4.667799,191.125325,NaN,NaN,NaN
19,Albania,2008,ALB,16.0,135.0,NaN,NaN,NaN,9.0,511.0,...,NaN,NaN,NaN,NaN,NaN,6.798132,214.954017,39.355234,5.868734,NaN
20,Albania,2009,ALB,16.0,137.0,NaN,NaN,1.0,9.0,524.0,...,NaN,NaN,NaN,NaN,NaN,10.132713,241.455344,60.673579,6.832200,NaN
21,Albania,2010,ALB,16.0,128.0,NaN,NaN,2.0,9.0,529.0,...,NaN,NaN,NaN,NaN,NaN,12.087348,295.563545,71.897581,7.362917,NaN
22,Albania,2011,ALB,16.0,128.0,NaN,NaN,2.0,9.0,534.0,...,NaN,NaN,NaN,NaN,NaN,16.599737,304.001276,82.107654,7.847772,NaN
23,Albania,2012,ALB,16.0,128.0,NaN,NaN,2.0,11.0,538.0,...,NaN,NaN,NaN,NaN,NaN,21.317781,312.056015,102.405376,8.795921,NaN
24,Albania,2013,ALB,16.0,123.0,NaN,NaN,2.0,11.0,529.0,...,NaN,NaN,NaN,NaN,NaN,27.675110,318.332484,138.595464,7.488002,NaN
25,Albania,2014,ALB,16.0,115.0,NaN,NaN,2.0,10.0,499.0,...,NaN,NaN,NaN,NaN,NaN,31.444628,331.128494,532.269046,11.789742,NaN
26,Albania,2015,ALB,16.0,113.0,NaN,NaN,5.0,10.0,500.0,...,64.680220,64.680220,0.001585,28.619020,0.006471,34.354591,349.910773,594.584049,19.713760,NaN
27,Albania,2016,ALB,16.0,15.0,NaN,NaN,4.0,11.0,493.0,...,113.432400,113.432400,0.002459,105.887200,0.028902,36.315700,368.329863,757.267935,23.333628,NaN
28,Albania,2017,ALB,16.0,13.0,NaN,NaN,5.0,11.0,472.0,...,NaN,NaN,NaN,434.101800,0.165161,40.576853,385.124096,953.671895,35.460738,NaN
29,Albania,2018,ALB,14.0,13.0,NaN,NaN,5.0,11.0,447.0,...,2.468476,2.468476,0.002727,749.213800,0.281559,44.375747,401.901547,1225.541255,54.469248,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2805,Zambia,2004,ZMB,13.0,NaN,1.0,9.0,1.0,9.0,173.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2806,Zambia,2005,ZMB,13.0,NaN,1.0,9.0,3.0,13.0,170.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2807,Zambia,2006,ZMB,13.0,NaN,1.0,8.0,5.0,14.0,178.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2808,Zambia,2007,ZMB,13.0,NaN,1.0,8.0,7.0,12.0,202.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2809,Zambia,2008,ZMB,18.0,NaN,3.0,8.0,15.0,12.0,228.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2810,Zambia,2009,ZMB,18.0,NaN,5.0,8.0,20.0,14.0,248.0,...,1.727902,0.370458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2811,Zambia,2010,ZMB,18.0,NaN,5.0,7.0,19.0,14.0,266.0,...,13.258690,1.781598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2812,Zambia,2011,ZMB,19.0,NaN,5.0,7.0,27.0,14.0,286.0,...,56.940470,2.582886,0.004385,87.091880,0.088571,NaN,NaN,NaN,NaN,NaN
2813,Zambia,2012,ZMB,19.0,NaN,6.0,8.0,28.0,21.0,314.0,...,180.790700,6.464376,0.007618,499.127500,0.404499,NaN,NaN,NaN,NaN,33.922691
2814,Zambia,2013,ZMB,19.0,NaN,8.0,8.0,27.0,23.0,345.0,...,309.920500,11.004530,0.009912,1174.999000,0.753979,NaN,NaN,NaN,NaN,NaN
2815,Zambia,2014,ZMB,19.0,NaN,10.0,7.0,23.0,29.0,379.0,...,574.853100,39.817830,0.012571,143.983200,0.073630,NaN,NaN,NaN,NaN,30.941500
2816,Zambia,2015,ZMB,19.0,NaN,10.0,7.0,22.0,35.0,391.0,...,566.915500,28.835510,0.025084,327.274300,0.204492,NaN,NaN,NaN,NaN,28.684596
2817,Zambia,2016,ZMB,19.0,NaN,6.0,6.0,26.0,37.0,407.0,...,709.754600,57.996970,0.044424,668.416500,0.359559,NaN,NaN,NaN,NaN,35.743788
2818,Zambia,2017,ZMB,17.0,NaN,7.0,5.0,27.0,38.0,409.0,...,1257.720000,155.864300,0.108426,1219.720000,0.521824,NaN,NaN,NaN,NaN,37.833074
2819,Zambia,2018,ZMB,18.0,NaN,8.0,5.0,28.0,NaN,356.0,...,1443.396000,803.635600,0.287664,4764.189000,2.096431,0.729132,251.213309,31668.900409,8.060837,NaN
2820,Zimbabwe,2004,ZWE,11.0,64.0,NaN,19.0,45.0,76.0,192.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2821,Zimbabwe,2005,ZWE,13.0,NaN,NaN,18.0,213.0,NaN,264.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2822,Zimbabwe,2006,ZWE,14.0,208.0,NaN,16.0,244.0,NaN,248.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2823,Zimbabwe,2007,ZWE,14.0,NaN,NaN,15.0,309.0,NaN,281.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2824,Zimbabwe,2008,ZWE,14.0,NaN,NaN,15.0,NaN,NaN,234.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2825,Zimbabwe,2009,ZWE,16.0,67.0,NaN,12.0,95.0,73.0,317.0,...,NaN,NaN,NaN,26.546390,0.006532,NaN,NaN,NaN,NaN,NaN
2826,Zimbabwe,2010,ZWE,16.0,120.0,NaN,9.0,114.0,55.0,340.0,...,NaN,NaN,NaN,56.621140,0.009962,NaN,NaN,68.031914,1.918341,NaN
2827,Zimbabwe,2011,ZWE,18.0,122.0,NaN,9.0,146.0,80.0,449.0,...,NaN,NaN,NaN,304.438600,0.057404,NaN,NaN,328.867217,3.829266,NaN
2828,Zimbabwe,2012,ZWE,18.0,77.0,NaN,7.0,150.0,80.0,969.0,...,107.717400,NaN,NaN,1780.473000,2.229697,1.114135,206.258422,1822.597385,8.670833,NaN
2829,Zimbabwe,2013,ZWE,16.0,63.0,NaN,7.0,143.0,56.0,1041.0,...,313.017400,240.104700,0.289757,15257.430000,10.952860,0.924707,287.702753,15314.730861,18.087038,NaN
2830,Zimbabwe,2014,ZWE,14.0,58.0,NaN,7.0,147.0,57.0,1141.0,...,762.572400,350.495400,0.351672,22461.460000,18.642230,1.201241,454.700172,22512.820627,24.913417,NaN
2831,Zimbabwe,2015,ZWE,18.0,115.0,3.0,2.0,149.0,56.0,459.0,...,1042.701000,587.745200,0.443698,28223.260000,23.272350,1.342382,292.514184,28292.544329,31.357823,NaN
2832,Zimbabwe,2016,ZWE,18.0,195.0,4.0,2.0,181.0,50.0,450.0,...,1085.537000,398.683300,0.632644,36303.610000,28.303520,1.949008,380.214979,36438.613647,40.489223,NaN
2833,Zimbabwe,2017,ZWE,18.0,436.0,4.0,2.0,178.0,53.0,443.0,...,1290.365000,550.935100,1.424626,90166.910000,78.994400,2.080040,511.519906,90674.365435,109.770696,131.070732
2834,Zimbabwe,2018,ZWE,18.0,NaN,6.0,2.0,199.0,41.0,438.0,...,1609.920000,720.250200,1.748358,195972.700000,142.391200,2.018384,555.431013,196659.817113,184.635616,145.882004

In [10]:
df.columns

Index(['Economy', 'Year', 'ISO-3 code', 'Number of commercial banks',
       'Number of credit unions and credit cooperatives',
       'Number of deposit-taking microfinance institutions',
       'Number of other deposit takers',
       'Number of non-deposit taking microfinance institutions ',
       'Number of insurance corporations', 'Branches of commercial banks',
       ...
       'Number of registered mobile money accounts per 1,000 adults',
       'Number of active mobile money accounts per 1,000 adults',
       'Outstanding balances on active mobile money accounts (% of GDP)',
       'Number of mobile money transactions (during the reference year) per 1,000 adults',
       'Value of mobile money transactions (during the reference year) (% of GDP)',
       'Number of credit cards per 1,000 adults',
       'Number of debit cards per 1,000 adults',
       'No of mobile and internet banking transac (during reference yr) per 1,000 adults',
       'Value of mobile and internet banking transac (during reference yr) (% of GDP)',
       'Number of life insurance policies per 1,000 adults'],
      dtype='object', length=188)

In [15]:
df_chn = df[df['ISO-3 code'] == 'CHN'].reset_index(drop = True)

In [24]:
df_chn

,Economy,Year,ISO-3 code,Number of commercial banks,Number of credit unions and credit cooperatives,Number of deposit-taking microfinance institutions,Number of other deposit takers,Number of non-deposit taking microfinance institutions,Number of insurance corporations,Branches of commercial banks,...,"Number of registered mobile money accounts per 1,000 adults","Number of active mobile money accounts per 1,000 adults",Outstanding balances on active mobile money accounts (% of GDP),"Number of mobile money transactions (during the reference year) per 1,000 adults",Value of mobile money transactions (during the reference year) (% of GDP),"Number of credit cards per 1,000 adults","Number of debit cards per 1,000 adults","No of mobile and internet banking transac (during reference yr) per 1,000 adults",Value of mobile and internet banking transac (during reference yr) (% of GDP),"Number of life insurance policies per 1,000 adults"
0,"China, P.R.: Mainland",2004,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"China, P.R.: Mainland",2005,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"China, P.R.: Mainland",2006,CHN,144.0,19506.0,NaN,87.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1016.623940,NaN,NaN,NaN
3,"China, P.R.: Mainland",2007,CHN,170.0,8503.0,NaN,113.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1314.928157,NaN,NaN,NaN
4,"China, P.R.: Mainland",2008,CHN,185.0,5150.0,NaN,201.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1533.022383,NaN,NaN,NaN
5,"China, P.R.: Mainland",2009,CHN,198.0,3263.0,NaN,286.0,1334.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1723.467568,NaN,NaN,NaN
6,"China, P.R.: Mainland",2010,CHN,204.0,2869.0,NaN,542.0,2614.0,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1989.174148,NaN,NaN,NaN
7,"China, P.R.: Mainland",2011,CHN,201.0,2477.0,NaN,956.0,4282.0,152.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2408.260067,NaN,NaN,NaN
8,"China, P.R.: Mainland",2012,CHN,203.0,2074.0,NaN,1291.0,6080.0,164.0,85358.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2879.585274,NaN,NaN,NaN
9,"China, P.R.: Mainland",2013,CHN,204.0,1925.0,NaN,1635.0,7839.0,174.0,86708.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3420.447729,NaN,NaN,NaN
10,"China, P.R.: Mainland",2014,CHN,192.0,1685.0,NaN,2018.0,8791.0,180.0,89813.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3990.025531,NaN,NaN,NaN
11,"China, P.R.: Mainland",2015,CHN,190.0,1444.0,NaN,2404.0,8910.0,194.0,95680.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4438.689182,NaN,NaN,NaN
12,"China, P.R.: Mainland",2016,CHN,190.0,1165.0,NaN,2806.0,8673.0,205.0,99462.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4988.393674,NaN,NaN,NaN
13,"China, P.R.: Mainland",2017,CHN,190.0,998.0,NaN,2907.0,8551.0,222.0,100064.0,...,NaN,NaN,NaN,NaN,NaN,514.826828,5349.051722,NaN,NaN,822.245828
14,"China, P.R.: Mainland",2018,CHN,192.0,842.0,NaN,3093.0,8133.0,229.0,101329.0,...,NaN,NaN,NaN,NaN,NaN,597.904923,6023.499888,NaN,NaN,962.614173

In [27]:
df_chn = df_chn.drop([0,1]).reset_index(drop = True)

In [35]:
df_chn = df_chn.dropna(axis='columns')

In [36]:
df_chn.to_csv('IMF_CHN.csv')

Index(['Economy', 'Year', 'ISO-3 code', 'Number of commercial banks',
       'Number of credit unions and credit cooperatives',
       'Number of deposit-taking microfinance institutions',
       'Number of other deposit takers',
       'Number of non-deposit taking microfinance institutions ',
       'Number of insurance corporations', 'Branches of commercial banks',
       ...
       'Number of registered mobile money accounts per 1,000 adults',
       'Number of active mobile money accounts per 1,000 adults',
       'Outstanding balances on active mobile money accounts (% of GDP)',
       'Number of mobile money transactions (during the reference year) per 1,000 adults',
       'Value of mobile money transactions (during the reference year) (% of GDP)',
       'Number of credit cards per 1,000 adults',
       'Number of debit cards per 1,000 adults',
       'No of mobile and internet banking transac (during reference yr) per 1,000 adults',
       'Value of mobile and internet banking transac (during reference yr) (% of GDP)',
       'Number of life insurance policies per 1,000 adults'],
      dtype='object', length=188)

In [37]:
df_chn

,Economy,Year,ISO-3 code,Number of commercial banks,Number of credit unions and credit cooperatives,Number of other deposit takers,Number of Automated Teller Machines (ATMs),Depositors with commercial banks,Depositors with commercial banks: o/w SME,Depositors with credit unions and credit cooperatives,...,"Number of ATMs per 100,000 adults","Number of depositors with commercial banks per 1,000 adults","Number of depositors with credit unions and credit cooperatives per 1,000 adults","Number of deposit accounts with commercial banks per 1,000 adults","No of deposit acc with credit unions and credit cooperatives per 1,000 adults",Outstanding deposits with commercial banks (% of GDP),Outstanding deposits with credit unions and credit cooperatives (% of GDP),Outstanding loans from commercial banks (% of GDP),Outstanding loans from credit unions and credit cooperatives (% of GDP),"Number of debit cards per 1,000 adults"
0,"China, P.R.: Mainland",2006,CHN,144.0,19506.0,87.0,101255.0,6857324.0,6578054.0,1584929.0,...,9.566753,6.478922,1.497469,11.64824,2.220539,123.4101,16.440710,79.48923,11.232650,1016.623940
1,"China, P.R.: Mainland",2007,CHN,170.0,8503.0,113.0,127578.0,7830471.0,7501767.0,1858826.0,...,11.914480,7.312860,1.735954,13.18677,2.608186,113.7626,15.562160,74.91082,10.714390,1314.928157
2,"China, P.R.: Mainland",2008,CHN,185.0,5150.0,201.0,167489.0,8744977.0,8395159.0,2069620.0,...,15.486390,8.085793,1.913615,14.42145,2.875009,114.8560,15.833950,71.05528,10.532660,1533.022383
3,"China, P.R.: Mainland",2009,CHN,198.0,3263.0,286.0,214880.0,9841144.0,9438334.0,2332541.0,...,19.698870,9.021751,2.138329,15.85330,3.195899,136.1774,16.907760,87.30891,11.556060,1723.467568
4,"China, P.R.: Mainland",2010,CHN,204.0,2869.0,542.0,271084.0,11300000.0,10800000.0,2715993.0,...,24.667580,10.245430,2.471447,17.81772,3.636168,137.2709,15.422100,87.77045,10.475350,1989.174148
5,"China, P.R.: Mainland",2011,CHN,201.0,2477.0,956.0,333789.0,12900000.0,12400000.0,2772213.0,...,30.174580,11.706130,2.506085,20.11823,3.694159,131.4589,14.042560,84.07473,9.360669,2408.260067
6,"China, P.R.: Mainland",2012,CHN,203.0,2074.0,1291.0,415561.0,14700000.0,14000000.0,3162497.0,...,37.360080,13.179570,2.843172,22.56615,4.083577,135.2522,13.162440,86.98444,8.566102,2879.585274
7,"China, P.R.: Mainland",2013,CHN,204.0,1925.0,1635.0,519996.0,16600000.0,15900000.0,3373829.0,...,46.524170,14.892490,3.018573,25.18802,4.282666,137.1704,12.765120,88.79027,8.160277,3420.447729
8,"China, P.R.: Mainland",2014,CHN,192.0,1685.0,2018.0,614877.0,19000000.0,18200000.0,3764494.0,...,54.750610,16.954950,3.352026,28.01185,4.688172,136.2519,11.654740,91.62078,7.511259,3990.025531
9,"China, P.R.: Mainland",2015,CHN,190.0,1444.0,2404.0,866711.0,21700000.0,20700000.0,4028359.0,...,76.787640,19.246850,3.568989,30.83503,4.923856,155.1396,10.253230,98.31059,6.561462,4438.689182
10,"China, P.R.: Mainland",2016,CHN,190.0,1165.0,2806.0,924176.0,25200000.0,23400000.0,4591311.0,...,81.451480,22.172780,4.046514,34.04410,5.404872,157.9931,8.306474,101.79490,5.198744,4988.393674
11,"China, P.R.: Mainland",2017,CHN,190.0,998.0,2907.0,960565.0,29100000.0,27500000.0,5188930.0,...,84.162260,25.466730,4.546408,37.47175,5.888967,152.0318,6.858931,102.18760,4.298637,5349.051722
12,"China, P.R.: Mainland",2018,CHN,192.0,842.0,3093.0,1110800.0,33400000.0,31500000.0,9020950.0,...,96.815280,29.087800,7.862493,41.69702,9.953412,147.3220,5.459145,105.72940,3.552557,6023.499888

In [38]:
df_chn.columns = df_chn.columns.str.replace(' ', '_')

In [40]:
df_chn.to_csv('IMF_CHN.csv')